@import "tailwindcss";
@font-face {
  font-family: 'Cascadia Code';
  src: url('./assets/fonts/Cascadia.ttf');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Cascadia Code', monospace ;
  min-width: 100%;
  min-height: 100%;
  background-color: #F6F7F8;
}
.rc-pagination-item a {
  color: #a855f7 !important;
}

.rc-pagination-item-active a {
  color: white !important;
  background-color: #a855f7 !important;
  border-color: #a855f7 !important;
}

.rc-pagination-prev a,
.rc-pagination-next a {
  color: #a855f7 !important;
}
